name: Build TermX Binaries

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set executable permission
        run: chmod +x build.sh

      - name: Run build script
        run: ./build.sh

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: termx-binaries
          path: output/
